<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Navigation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="navigateToNavigationdetail()" expand="block" fill="clear" shape="round">
    Go to NavigationDetail
  </ion-button>
  <ion-item>
    <ion-label position="floating">Navigationdetail Nummer</ion-label>
    <ion-input type="Any" [(ngModel)]="navigationNumber"></ion-input>
  </ion-item>
</ion-content>
