<ion-header>
  <ion-toolbar>
    <ion-title>newsletter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="contactForm" (ngSubmit)="sendContactForm()">
    <ion-item>
      <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-button block color="primary" type="submit" [disabled]="contactForm.invalid">
      Send Form
    </ion-button>
  </form>
</ion-content>
